<a href="https://colab.research.google.com/github/samp3209/wineproject/blob/main/winetablejoins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('wine - df.csv')
cali_df = pd.read_csv("cali.csv")
italy_df = pd.read_csv("italy.csv")

In [38]:
# assuming your main dataframe is called 'df' and the california dataframe is called 'cali_df'
# merging the dataframes based on 'year' column
df = pd.merge(df, cali_df[['Vintage', 'Temperature', 'cali', 'cali points', 'season rating']], 
              how='left', left_on=['year'], right_on=['Vintage'])

# filling the NaN values with 0 in 'cali' and 'cali points' columns for wines not from California
df.loc[df['country'] != 'cali', ['cali', 'cali points']] = 0
df.loc[df['country'] != 'cali', ['cali', 'Temperature']] = 0

# renaming the columns
df = df.rename(columns={'Temperature': 'cali temperature', 
                        'cali': 'cali region rating', 
                        'cali points': 'cali wine points', 
                        'season rating': 'total season rating'})

# dropping the 'Vintage' column
df.drop('Vintage', axis=1, inplace=True)

In [39]:
df.sample(5)

,pp750ml,wine_names,year,price,region,country,quantity,ml,numbottles,new_names,cali temperature,cali region rating,cali wine points,total season rating
6888,219.99,Piper-Heidsieck - Cuvee Rare Brut Champagne 20...,2008,219.99,champagne,france,750 ml,750,1,piper heidsieck rare,0.0,0.0,0.0,7.56
9046,129.67,"Weingut Graf Neipperg, Schlossberg Riesling GG...",1976,129.67,wurrtenberg,germany,750 ml,750,1,weingut graf neipperg schlossberg riesling gg,0.0,0.0,0.0,5.72
5576,495.00,Margaux 1994 750mL,1979,495.00,bordeaux,france,750 ml,750,1,margaux,0.0,0.0,0.0,6.92
2494,487.50,Dom Perignon - Champagne Rose 2006 (1.5L),2006,975.00,champagne,france,1x1500 L,1500,1,dom perignon,0.0,0.0,0.0,7.22
7786,149.99,Sandrone Barolo Aleste 2018,2018,149.99,piedmont,italy,750 ml,750,1,sandrone barolo aleste,0.0,0.0,0.0,7.70

In [4]:
df['country'].value_counts()

france     3032
germany    2301
italy      2167
cali        981
port        749
Name: country, dtype: int64

In [40]:
df = pd.merge(df, italy_df[['Vintage', 'Temperature', 'italy', 'italy points']],
              how='left', left_on=['year'], right_on=['Vintage'])

df.loc[df['country'] != 'italy', ['italy', 'italy points']] = 0
df.loc[df['country'] != 'italy', ['italy', 'Temperature']] = 0 

df = df.rename(columns={'Temperature': 'italy temperature',
                        'italy': 'italy region rating'})
df.drop('Vintage', axis=1, inplace=True)

In [41]:
df

,pp750ml,wine_names,year,price,region,country,quantity,ml,numbottles,new_names,cali temperature,cali region rating,cali wine points,total season rating,italy temperature,italy region rating,italy points
0,164.50,2014 A. Clape Cornas 1.5L,2014,329.00,rhone,germany,1x1500 L,1500,1,a clape cornas,0.0,0.0,0.0,6.94,0.0,0.0,0.00
1,3000.00,2017 A. Rousseau Chambertin 750ml,2017,3000.00,burgundy,france,750 ml,750,1,a rousseau chambertin,0.0,0.0,0.0,6.12,0.0,0.0,0.00
2,3750.00,2012 A. Rousseau Chambertin 750ml,2012,3750.00,burgundy,france,750 ml,750,1,a rousseau chambertin,0.0,0.0,0.0,6.82,0.0,0.0,0.00
3,4400.00,2009 A. Rousseau Chambertin 750ml,2009,4400.00,burgundy,france,750 ml,750,1,a rousseau chambertin,0.0,0.0,0.0,7.92,0.0,0.0,0.00
4,3495.00,2008 A. Rousseau Chambertin 750ml,2008,3495.00,burgundy,france,750 ml,750,1,a rousseau chambertin,0.0,0.0,0.0,7.56,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,76.99,2017 Zind-Humbrecht Alsace Pinot Gris Clos Win...,2017,76.99,alsace,france,750 ml,750,1,zind humbrechtos windsbuhl pinot gris,0.0,0.0,0.0,6.12,0.0,0.0,0.00
9226,54.95,Zind-Humbrecht Gewurztraminer Alsace Grand Cru...,2015,54.95,alsace,france,750 ml,750,1,zindhumbrecht gewurztraminer hengst,0.0,0.0,0.0,7.82,0.0,0.0,0.00
9227,29.99,Zisola Noto Nero d'Avola,2015,29.99,sicily,italy,750 ml,750,1,zisola nero davola,0.0,0.0,0.0,7.82,4.0,7.8,0.94
9228,359.88,Zisola Noto Nero d'Avola,2008,359.88,sicily,italy,750 ml,750,1,zisola nero davola,0.0,0.0,0.0,7.56,4.0,8.2,0.93
9229,34.20,"2018 ZISOLA Nero D'Avola, Case of 6",2018,205.20,sicily,italy,6x750 ml,4500,6,zisola nero davola,0.0,0.0,0.0,7.70,4.0,7.8,0.95

In [42]:
germany_df = pd.read_csv('germany.csv')
df = pd.merge(df, germany_df[['Vintage', 'Temperature', 'germany', 'germany points']],
              how='left', left_on=['year'], right_on=['Vintage'])

df.loc[df['country'] != 'germany', ['germany', 'germany points']] = 0
df.loc[df['country'] != 'germany', ['germany', 'Temperature']] = 0 

df = df.rename(columns={'Temperature': 'germany temperature',
                        'germany': 'germany region rating'})
df.drop('Vintage', axis=1, inplace=True)

In [44]:
df.sample(20)

,pp750ml,wine_names,year,price,region,country,quantity,ml,numbottles,new_names,cali temperature,cali region rating,cali wine points,total season rating,italy temperature,italy region rating,italy points,germany temperature,germany region rating,germany points
1039,9500.00,"[lot 776], Chambertin A. Rousseau",2008,9500.00,burgundy,france,750 ml,750,1,chambertin a rousseau,0.0,0.0,0.00,7.56,0.0,0.0,0.00,0.0,0.0,0.00
7308,147.50,"Quintessa 2006, 1.5 Liter/Magnum",2006,295.00,cali,cali,1x1500 L,1500,1,quintessa,4.0,7.0,0.92,7.22,0.0,0.0,0.00,0.0,0.0,0.00
6467,59.98,Paolo Bea Umbria Rosso San Valentino 2017,2017,59.98,umbria,italy,750 ml,750,1,paolo bea rosso de veo,0.0,0.0,0.00,6.12,1.0,4.3,0.94,0.0,0.0,0.00
8490,23.99,TERRE NERE ETNA ROSSO 2021 750ML,2021,23.99,sicily,italy,750 ml,750,1,tenuta delle terre nere etna rosso,0.0,0.0,0.00,7.90,3.0,7.3,0.00,0.0,0.0,0.00
5411,299.90,Luciano Sandrone Barolo Aleste Cannubi Boschis...,2018,299.90,piedmont,italy,750 ml,750,1,luciano sandrone barolo aleste,0.0,0.0,0.00,7.70,4.0,7.8,0.95,0.0,0.0,0.00
1576,2038.56,2017 Chateau Pichon Longueville Comtesse de La...,2017,2038.56,bordeaux,france,750 ml,750,1,chateau pichonongueville comtesse dealande pau...,0.0,0.0,0.00,6.12,0.0,0.0,0.00,0.0,0.0,0.00
4630,149.00,Jaboulet Hermitage La Chapelle 2013 750ml,2013,149.00,rhone,germany,750 ml,750,1,jaboulet hermitagea chapelle,0.0,0.0,0.00,6.76,0.0,0.0,0.00,2.0,5.4,0.94
8429,24.00,Tenuta delle Terre Nere Etna Rosso 2021,2021,24.00,sicily,italy,750 ml,750,1,tenuta delle terre nere etna rosso,0.0,0.0,0.00,7.90,3.0,7.3,0.00,0.0,0.0,0.00
8488,26.99,Terre Nere Etna Rosso,2021,26.99,sicily,italy,750 ml,750,1,tenuta delle terre nere etna rosso,0.0,0.0,0.00,7.90,3.0,7.3,0.00,0.0,0.0,0.00
1921,1733.58,Chateauneuf-du-Pape Chateau Rayas Emmanuel Rey...,2011,1733.58,rhone,germany,750 ml,750,1,chateauneufdupape chateau rayas emmanuel reyna...,0.0,0.0,0.00,6.42,0.0,0.0,0.00,2.0,8.1,0.93
183,31.99,ARIANNA OCCHIPINTI SP68 ROSSO 2021 750 ML,2021,31.99,sicily,italy,750 ml,750,1,arianna occhipinti sp rosso,0.0,0.0,0.00,7.90,3.0,7.3,0.00,0.0,0.0,0.00
6693,3197.50,"Petrus 2006, 1.5 Liter/Magnum",2000,6395.00,bordeaux,france,1x1500 L,1500,1,petrus,0.0,0.0,0.00,7.20,0.0,0.0,0.00,0.0,0.0,0.00
4553,1300.00,"[lot 862], Hermitage J.L. Chave",2019,1300.00,rhone,germany,750 ml,750,1,hermitage jl chave,0.0,0.0,0.00,7.92,0.0,0.0,0.00,4.0,7.7,0.95
1683,230.00,"Chateau La Mission Haut Brion [I8768769], Cru ...",2012,230.00,bordeaux,france,750 ml,750,1,chateaua mission haut brion cru classe de grav...,0.0,0.0,0.00,6.82,0.0,0.0,0.00,0.0,0.0,0.00
7488,1450.00,"Ridge, Monte Bello [Pre-Arrival]",2019,1450.00,cali,cali,750 ml,750,1,ridge monte bello,4.0,8.4,0.95,7.92,0.0,0.0,0.00,0.0,0.0,0.00
1420,300.00,"[Lot: 94] Chateau Margaux, Margaux - Red Bordeaux",1988,300.00,bordeaux,france,750 ml,750,1,chateau margaux margaux,0.0,0.0,0.00,7.52,0.0,0.0,0.00,0.0,0.0,0.00
5257,99.00,"Lamborghini - Campoleone, Italy",2015,99.00,umbria,italy,750 ml,750,1,lamborghini campoleone,0.0,0.0,0.00,7.82,4.0,7.8,0.94,0.0,0.0,0.00
3591,37.81,"2012er Schlossberg Spatburgunder, Graf Neipper...",2012,37.81,wurrtenberg,germany,750 ml,750,1,er schlossberg spatburgunder graf neipperg wur...,0.0,0.0,0.00,6.82,0.0,0.0,0.00,4.0,7.1,0.93
6383,95.00,Paolo Bea Montefalco Sagrantino Pagliaro [I877...,2017,95.00,umbria,italy,750 ml,750,1,paolo bea montefalco sagrantino pagliaro,0.0,0.0,0.00,6.12,1.0,4.3,0.94,0.0,0.0,0.00
1529,159.99,"2020 Chateau Pichon Baron Pauillac, 750 mL, Fr...",2020,159.99,bordeaux,france,750 ml,750,1,chateau pichon baron pauillac,0.0,0.0,0.00,7.06,0.0,0.0,0.00,0.0,0.0,0.00

In [45]:
port_df = pd.read_csv('port.csv')
df = pd.merge(df, port_df[['Vintage', 'Temperature', 'port', 'port points']],
              how='left', left_on=['year'], right_on=['Vintage'])

df.loc[df['country'] != 'port', ['port', 'port points']] = 0
df.loc[df['country'] != 'port', ['port', 'Temperature']] = 0 

df = df.rename(columns={'Temperature': 'port temperature',
                        'port': 'port region rating'})
df.drop('Vintage', axis=1, inplace=True)

In [46]:
df.sample(20)

,pp750ml,wine_names,year,price,region,country,quantity,ml,numbottles,new_names,...,total season rating,italy temperature,italy region rating,italy points,germany temperature,germany region rating,germany points,port temperature,port region rating,port points
7091,1100.000,2016 Promontory Napa Valley [RP-100ts. 3 Pack ...,2015,3300.00,cali,cali,3x750 ml,2250,3,promontory,...,7.82,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
4118,30.990,"2020 Girolamo Russo - Etna Rosso A Rina, Italy...",2020,30.99,sicily,italy,750 ml,750,1,girolamo russo etna rosso a rina,...,7.06,4.0,6.5,0.00,0.0,0.0,0.00,0.0,0.0,0.00
7075,899.000,"Promontory Red Wine 2015, California",2015,899.00,cali,cali,750 ml,750,1,promontory,...,7.82,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
5049,49.200,"Kopke Vintage Port, Porto, Portugal",2004,49.20,duoro,port,750 ml,750,1,kopke colheita,...,7.40,0.0,0.0,0.00,0.0,0.0,0.00,3.0,7.0,0.93
7875,6500.000,"[lot 1107], Screaming Eagle Cabernet Sauvignon",2020,6500.00,cali,cali,750 ml,750,1,screaming eagle,...,7.06,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
963,18.960,"Casa De Santar Tinto Reserva, Portugal, Dao",2020,18.96,dao,port,750 ml,750,1,casa de santar tinto,...,7.06,0.0,0.0,0.00,0.0,0.0,0.00,4.0,7.0,0.00
1789,369.090,"Chateau Latour 1er Grand Cru Classe, Red, Paui...",1986,369.09,bordeaux,france,750 ml,750,1,chateauatour er classe red pauillac,...,6.44,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
8607,49.990,2012 Trimbach Gewurztraminer Cuvee des Seigneu...,2012,49.99,alsace,france,750 ml,750,1,trimbach gewurztraminer,...,6.82,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
8890,4.810,Vinho Rose Vida Nova,2017,4.81,algarve,port,750 ml,750,1,vinho rose vida nova,...,6.12,0.0,0.0,0.00,0.0,0.0,0.00,1.0,8.4,0.96
4302,108.000,Guigal Cote Rotie Chateau D`Ampuis 2016 [Prove...,2016,108.00,rhone,germany,750 ml,750,1,guigal cote rotie chateau dampuis,...,8.12,0.0,0.0,0.00,4.0,7.6,0.94,0.0,0.0,0.00
7129,27.400,"Quinta da Pellada Mulher Nua 2018 Red, 75cl",2018,27.40,dao,port,750 ml,750,1,quinta da pellada red,...,7.70,0.0,0.0,0.00,0.0,0.0,0.00,4.0,7.4,0.93
8446,58.990,Tenuta delle Terre Nere - Etna Rosso Calderara...,2019,58.99,sicily,italy,750 ml,750,1,tenuta delle terre nere etna rosso,...,7.92,4.0,8.0,0.95,0.0,0.0,0.00,0.0,0.0,0.00
6484,99.950,Paolo Bea Vigneto Pipparello Montefalco Rosso ...,2018,99.95,umbria,italy,750 ml,750,1,paolo bea vigneto pipparello montefalco rosso ...,...,7.70,4.0,7.8,0.95,0.0,0.0,0.00,0.0,0.0,0.00
3992,78.950,"2007 Galardi, Terra Di Lavoro",2007,78.95,campania,italy,750 ml,750,1,galardi terra diavoro,...,7.70,2.0,8.5,0.93,0.0,0.0,0.00,0.0,0.0,0.00
7689,39.930,"S. Molettieri Taurasi 'Cinque Querce', Italy, ...",2007,39.93,campania,italy,750 ml,750,1,s molettieri taurasi cinque querce,...,7.70,2.0,8.5,0.93,0.0,0.0,0.00,0.0,0.0,0.00
6605,1940.000,"Perrier Jouet, Belle Epoque [Pre-Arrival]",2010,1940.00,champagne,france,750 ml,750,1,perrier jouet belle epoque,...,7.62,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
6203,43.560,Olga Raffault Chinon Blanc Chenin Des Picasses...,2014,43.56,loire,france,750 ml,750,1,olga raffault chinones picasses,...,6.94,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00
4994,46.380,2003 kopke Colheita Port,2003,46.38,duoro,port,750 ml,750,1,kopke colheita,...,7.36,0.0,0.0,0.00,0.0,0.0,0.00,4.0,8.4,0.92
3437,14.975,E. Guigal 'Rouge' Cotes du Rhone 2018 1.5L,2018,29.95,rhone,germany,1x1500 L,1500,1,e guigal cotes du,...,7.70,0.0,0.0,0.00,4.0,7.3,0.94,0.0,0.0,0.00
1442,308.880,Chateau Montelena Estate Cabernet Sauvignon 20...,2017,308.88,cali,cali,750 ml,750,1,chateau montelena cabernet sauvignon calistoga,...,6.12,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00

In [47]:
france_df = pd.read_csv('france.csv')
df = pd.merge(df, france_df[['Vintage', 'Temperature', 'france', 'france points']],
              how='left', left_on=['year'], right_on=['Vintage'])

df.loc[df['country'] != 'france', ['france', 'france points']] = 0
df.loc[df['country'] != 'france', ['france', 'Temperature']] = 0 

df = df.rename(columns={'Temperature': 'france temperature',
                        'france': 'france region rating'})
df.drop('Vintage', axis=1, inplace=True)

In [48]:
df

,pp750ml,wine_names,year,price,region,country,quantity,ml,numbottles,new_names,...,italy points,germany temperature,germany region rating,germany points,port temperature,port region rating,port points,france temperature,france region rating,france points
0,164.50,2014 A. Clape Cornas 1.5L,2014,329.00,rhone,germany,1x1500 L,1500,1,a clape cornas,...,0.00,4.0,6.0,0.94,0.0,0.0,0.0,0.0,0.0,0.00
1,3000.00,2017 A. Rousseau Chambertin 750ml,2017,3000.00,burgundy,france,750 ml,750,1,a rousseau chambertin,...,0.00,0.0,0.0,0.00,0.0,0.0,0.0,1.0,6.4,0.93
2,3750.00,2012 A. Rousseau Chambertin 750ml,2012,3750.00,burgundy,france,750 ml,750,1,a rousseau chambertin,...,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0,7.0,0.92
3,4400.00,2009 A. Rousseau Chambertin 750ml,2009,4400.00,burgundy,france,750 ml,750,1,a rousseau chambertin,...,0.00,0.0,0.0,0.00,0.0,0.0,0.0,3.0,8.9,0.92
4,3495.00,2008 A. Rousseau Chambertin 750ml,2008,3495.00,burgundy,france,750 ml,750,1,a rousseau chambertin,...,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0,7.5,0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,76.99,2017 Zind-Humbrecht Alsace Pinot Gris Clos Win...,2017,76.99,alsace,france,750 ml,750,1,zind humbrechtos windsbuhl pinot gris,...,0.00,0.0,0.0,0.00,0.0,0.0,0.0,1.0,6.4,0.93
9226,54.95,Zind-Humbrecht Gewurztraminer Alsace Grand Cru...,2015,54.95,alsace,france,750 ml,750,1,zindhumbrecht gewurztraminer hengst,...,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0,8.5,0.93
9227,29.99,Zisola Noto Nero d'Avola,2015,29.99,sicily,italy,750 ml,750,1,zisola nero davola,...,0.94,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
9228,359.88,Zisola Noto Nero d'Avola,2008,359.88,sicily,italy,750 ml,750,1,zisola nero davola,...,0.93,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
9229,34.20,"2018 ZISOLA Nero D'Avola, Case of 6",2018,205.20,sicily,italy,6x750 ml,4500,6,zisola nero davola,...,0.95,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00

In [50]:
df.to_csv('winedf.csv')